= img "slides/Slide1.jpg", :height => "300px", :width => "990px"
= img "slides/Slide2.jpg", :height => "300px", :width => "990px"
= img "slides/Slide3.jpg", :height => "300px", :width => "990px"
= img "slides/Slide4.jpg", :height => "300px", :width => "990px"
= img "slides/Slide5.jpg", :height => "300px", :width => "990px"
= img "slides/Slide6.jpg", :height => "300px", :width => "990px"
